/* style.css */

#loginPage body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f0f0f0, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#loginPage #wrapper {
    width: 100%; /* 幅を100%に設定 */
    margin: 0 auto;
}

#loginPage #header {
    background-color: #333;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#loginPage #content {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 1.2em;
}

#loginPage .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginPage .login-form input[type="text"],
#loginPage .login-form input[type="password"] {
    width: 40%;
    padding: 5px;
    font-size: 0.5em;
    margin-bottom: 10px;
}

#loginPage .login-button {
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#loginPage .login-button:hover {
    background-color: #ddd;
}

#loginPage #footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.8em;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f0f0f0, #ffffff);
}

#wrapper {
    width: 100%; /* 幅を100%に設定 */
    margin: 0 auto;
}

#header {
    background-color: #333;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#content {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.center-button {
    display: flex;
    justify-content: space-around; /* ボタンとボタンの間隔をさらに開けました */
}

.center-button button {
    transition: background-color 0.3s ease;
}

.center-button button:hover {
    background-color: #ddd;
}

#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.8em;
}
